<iframe src="{{ .Site.Params.DoorStateURL }}" class="door-state"></iframe>
<!-- <script>
    let doc = await fetch("{{ .Site.Params.DoorStateURL }}")
    document.querySelector("#door-s")
</script> -->
