<div class="event">
  <h3 class="event_date">10. Novemeber 2023</h3>
  <span class="event__name"
    >Karaoke und Freibier</span
  >
</div>
<div class="event">
  <h3 class="event_date">12. bis 14. Dezember 2023</h3>
  <span class="event__name"
    >Hochschulwahlen</span
  >
</div>