{{ $data := index .Site.Data.people (.Get 0) }}
<ul class="members__list">
  {{ range $data.people }}
    <li class="members__member">
      {{ if (isset . "photo") }}
        <img
          class="members__member-image"
          src="/img/{{ .photo }}"
          alt="Portrait {{ .name }}"
        />
      {{ else }}
        <!-- 
          wrapping div necessary because when the css clip-path is applied directly 
          to the svg, the background color will spill in Safari
        -->
        <div class="members__member-image">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMinYMin slice"
            viewBox="0 0 512 512"
            version="1.1"
            width="512"
            height="512"
          >
            <defs id="defs1" />
            <!--!
          Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License -
https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="m 256,322 a 128,128 0 1 0 0,-256 128,128 0 1 0 0,256 z m -45.7,48 C 111.8,370 32,449.8 32,548.3 32,564.7 45.3,578 61.7,578 H 450.3 C 466.7,578 480,564.7 480,548.3 480,449.8 400.2,370 301.7,370 Z"
              id="path1"
            />
          </svg>
        </div>
      {{ end }}
      <div class="members__member-text">
        {{ .name }}
        <span class="members__member-title">{{ .title }}</span>
      </div>
    </li>
  {{ end }}
</ul>
