@use "mixins";
// $color-table-row-odd: hsl(0, 0%, 90%) !default;
// $color-table-row-even: inherit !default;
$color-menu-hover: hsl(49, 91%, 87%) !default;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main,
article,
header,
footer {
  padding: 2%;
}

menu {
  @include mixins.menu-flexbox;
  list-style-type: none;
  padding-left: inherit;
  text-align: center;

  li {
    cursor: pointer;

    &:hover,
    &:active {
      background-color: $color-menu-hover;
    }
  }

  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: inherit;
    font-style: normal;
    font-weight: bold;
    background-color: inherit;
  }
}

img {
  max-width: 100%;
  margin: auto;
}

table {
  width: 100%;
  margin: auto;
}

td,
th {
  padding: 0.4rem;
  font-weight: normal;
  text-align: left;
}

thead {
  th,
  td {
    border-bottom: solid black medium;
  }
  th {
    font-weight: bold;
    text-align: left;
  }
}

tbody {
  th {
    font-weight: bold;
  }
  // tr:nth-child(odd) {
  //   background-color: $color-table-row-odd;
  // }
  // tr:nth-child(even) {
  //   background-color: $color-table-row-even;
  // }
}

tfoot {
  th,
  td {
    border-top: solid hsl(0, 80%, 10%) medium;
  }
  th {
    font-weight: bold;
  }
}

a {
  color: inherit;
  text-decoration: underline 0.05rem;
  text-underline-offset: 0.25rem;

  &:hover,
  &:active {
    color: var(--color-text-link-hover);
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

figure {
  width: 98%;
  margin: auto;
}

abbr {
  text-decoration: underline dotted 0.05rem;
  text-underline-offset: 0.25rem;
}

ul {
  line-height: 2;
}

@media print {
  a::after {
    content: " <" attr(href) ">";
    font-size: small;
    font-style: normal;
    // text-decoration: none;
    font-family: monospace;
    vertical-align: middle;
  }

  menu {
    display: none;
  }
}
