@use "sass:color";
@use "sass:math";

@mixin clear-list {
  list-style: none;
  padding-left: 0;
}

@mixin flexbox($flow: row) {
  display: flex;
  flex-flow: $flow;
  @if $flow == row {
    justify-content: space-between;
    align-items: center;
  } @else {
    justify-content: center;
    align-items: start;
  }
}

@mixin gallery($min-width: 300px, $width: 30%) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;

  $caption-bg-color: hsla(0, 0%, 0%, 0.8);
  $caption-color: hsla(0, 100%, 100%, 1);
  $tranisition-opacity: 0.3s;

  figure {
    flex: 1 1 auto;
    min-width: $min-width;
    flex-basis: $width;
    margin: 0.4rem;
    position: relative;

    img {
      display: block;
      margin: 0;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      font-size: smaller;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: color.change($caption-bg-color, $alpha: 0);
      color: color.change($caption-color, $alpha: 0);
      transition: all $tranisition-opacity ease-in-out;
      min-height: 2rem;
      padding: 0.3rem;
    }

    &:hover figcaption {
      background-color: $caption-bg-color;
      color: $caption-color;
    }

    figcaption::after {
      content: "i";
      padding: 0.5rem 0.3rem 0.3rem 0.5rem;
      width: 2rem;
      height: 2rem;
      text-align: center;
      font-weight: bold;
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      color: white;
      background-color: $caption-bg-color;
      border-top-left-radius: 1rem;
      transition: opacity $tranisition-opacity ease-in-out;
    }
    &:hover figcaption::after {
      opacity: 0;
      transition: opacity $tranisition-opacity ease-in-out;
    }
  }
}

@mixin menu-flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  li {
    display: block;
    padding: 1rem;
  }
}
