@media (prefers-color-scheme: light) {
  :root {
    --color-bg: hsl(0, 0%, 100%);
    --color-bg-box: hsl(0, 0%, 94%);
    --color-text: hsl(0, 0%, 0%);
    --color-text-light: hsl(0, 0%, 100%);
    --color-text-footer: hsl(0, 0%, 40%);
    --color-text-link-hover: hsl(198, 54%, 32%);
    --color-logo: var(--color-text);
    --color-door-open: rgb(12, 151, 47);
    --color-door-closed: rgb(194, 6, 0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0D1821;
    --color-bg-box: #292F36;
    --color-text: hsl(240, 24%, 93%);
    --color-text-light: var(--color-text);
    --color-text-footer: hsl(0, 0%, 57%);
    --color-text-link-hover: hsl(198, 54%, 32%);
    --color-logo: var(--color-text);
    --color-door-open: rgb(0, 107, 27);
    --color-door-closed: rgb(122, 4, 0);
  }
}

:root {
  background-color: var(--color-bg);
  color: var(--color-text);
}
