$border-radius: 0.3rem;

[class^="boxes"] {
  --box-columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--box-columns), 1fr);
}

.box,
[class^="box-"] {
  background-color: var(--color-bg-box);
  border-radius: $border-radius;
  padding: 2em;
  margin: 0.5em;
}

.box--full {
  grid-column: 1 / span var(--box-columns);
}

.box--half {
  grid-column: span calc(var(--box-columns) / 2);
}

@media screen and (min-width: 700px) {
  .boxes-md {
    --box-columns: 2;
  }
}

@media screen and (min-width: 1000px) {
  .box-lg--half {
    grid-column: span calc(var(--box-columns) / 2);
  }
}

.box--image {
  padding: 0;
  height: min-content;
  overflow: hidden;
  display: flex;
}

.box__image {
  flex: 1 1 auto;
  object-fit: cover;
  position: relative;
  border-radius: $border-radius;
  padding: 0;
}

.box__title,
.box > h2,
[class^="box-"] > h2 {
  margin-top: 0;
}
