@use "../mixins";

.door-state {
  height: 4rem;
  width: 100%;
}

//   color: var(--color-text-light);
//   font-size: 160%;
//   font-weight: bold;

//   @include mixins.flexbox;
//   justify-content: flex-start;

//   cursor: pointer;
//   transition: background-color 0.1s linear 0.5s;
// }

// .door-state--open {
//   background-color: var(--color-door-open);

//   .door-state__sprite {
//     animation: open-door 0.6s steps(5) reverse forwards;
//   }
// }

// .door-state--closed {
//   background-color: var(--color-door-closed);

//   .door-state__sprite {
//     animation: close-door 0.6s steps(5) forwards;
//   }
// }

// .door-state__icon {
//   height: 100%;
//   aspect-ratio: 675 / 750;

//   margin-left: 1em;
//   margin-right: 1em;
// }

// .door-state__sprite {
//   height: 100%;
//   object-fit: cover;
//   object-position: right;
// }

// @keyframes close-door {
//   from {
//     object-position: left;
//   }
//   to {
//     object-position: right;
//   }
// }

// @keyframes open-door {
//   from {
//     object-position: left;
//   }
//   to {
//     object-position: right;
//   }
// }
