.hero__image {
  width: 100vw;
  object-fit: cover;
  max-height: 80vh;
  object-position: center;
  // clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  margin-top: -2.5vh;
  margin-bottom: -5em;
  position: sticky;
  z-index: -1;
}

@media (min-width: 800px) {
  .hero__image {
    margin-top: -3em;
    margin-bottom: -12em;
    // clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .hero__image {
    margin-top: -2em;
    margin-bottom: -10em;
    // clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  }
}

// .hero__door-state {
//   position: absolute;
//   top: 6em;
//   right: 2em;
// }
