@use "sass:math";
@use "../mixins";

/*
Dieser mixin ist etwas aus den Fugen geraten und hat den Bereich des Wartbaren verlassen. Aufgrund von Zeitmangel enthält er ein paar hässliche media-queries, die zwar dafür sorgen, dass die Seite auch bei schmalen Auflösungen funktioniert, aber extrem krumm und schief aussehen. 

Grundsätzlich sollte diese Datei angezündet und neu geschrieben werden.
*/

@mixin honeycomb($length: 10em, $gap: 0.2em, $block) {
  $height: calc(math.sqrt(3) * $length);
  $width: calc(2 * $length);
  $offset: calc($length * 3 / 4);

  $margin: calc(-1 * $height/2 + $gap);

  #{$block}__list {
    @include mixins.clear-list;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: calc($height / 2);
  }

  #{$block}__member {
    width: $width;
    height: $height;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: $margin;

    &:nth-of-type(odd) {
      transform: translateX(calc(-1 * $offset - math.sqrt(3) / 2 * $gap));
      justify-content: flex-end;
      #{$block}__member-text {
        order: 1;
        text-align: right;
        margin-right: -1em;
        @media screen and (max-width: 550px) {
          text-align: center;
          margin-right: 0;
          transform: rotate(-60deg) translate(1.1em, 1.5em);
        }
      }
      #{$block}__member-title {
        margin-right: 1em;
        @media screen and (max-width: 550px) {
          display: none;
        }
      }
    }

    &:nth-of-type(even) {
      transform: translateX(calc($offset + math.sqrt(3) / 2 * $gap));
      justify-content: flex-start;
      #{$block}__member-text {
        order: 3;
        text-align: left;
        margin-left: -1em;
        @media screen and (max-width: 550px) {
          text-align: center;
          margin-right: 0;
          transform: rotate(60deg) translate(-1em, 1.5em);
        }
      }
      #{$block}__member-title {
        margin-left: 1em;
        @media screen and (max-width: 550px) {
          display: none;
        }
      }
    }
  }

  #{$block}__member-image {
    flex: 0 0 $width;
    height: $height;
    width: 100%;
    object-fit: cover;
    margin: 0;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    order: 2;
  }

  #{$block}__member-text {
    flex: 0 0 auto;
    margin-top: $gap;
    height: fit-content;
    font-weight: bold;
  }

  #{$block}__member-title {
    display: block;
    font-weight: normal;
  }
}

@include honeycomb($length: 5em, $block: ".members");

.members__member-image svg {
  fill: var(--color-bg);
  background-color: var(--color-text);
  width: 100%;
  height: 100%;
}
