@use "../mixins";

.page-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;

  margin: 1em auto;
  flex-wrap: wrap;
  row-gap: 1em;
}

.page-header__logo {
  height: 5em;
  flex: 1 1 auto;
}

.page-header__logo svg {
  height: 100%;
  max-width: 98%;
  fill: var(--color-logo);
}

.page-header__title {
  flex: 2 1 auto;
  text-align: left;
}

.page-header__title-top {
  margin: 0;
  font-size: var(--font-size-title);
  font-weight: bold;
  text-align: inherit;
}

.page-header__title-sub {
  font-size: var(--font-size-subtitle);
  margin: 0.2em;
}

.page-header__door-state {
  flex: 1 1 auto;
}

.page-header__socialmedia {
  fill: var(--color-text);
}

.page-header__socialmedia svg {
  height: 2em;
}

.page-header__socialmedia a {
  padding: 5px;
}
