<header class="page-header container">
  <div class="page-header__logo"><a href="/">{{- partial "img/logo_fsr6_01.svg" . -}}</a></div>
  <!--<div class="page-header__title">
    <h1 class="page-header__title-top">{{ .Site.Title }}</h1>
    <span class="page-header__title-sub">{{ .Site.Params.Subtitle }}</span>
  </div>-->
  <!-- <div class="page-header__door-state">
    <div class="door-state__icon">
      <img
        class="door-state__sprite"
        src="img/icons/door_sprite.svg"
        alt="Tür-Icon"
      />
    </div>
  <span class="door-state__text">INI geschlossen</span>
  </div> -->
  <div class="page-header__socialmedia">
    <a href="https://instagram.com/{{ .Site.Params.Social.Instagram }}" rel="me"
      >{{- partial "img/instagram.svg" . -}}</a
    >
    <a href="{{ .Site.Params.Social.Discord }}" rel="me"
      >{{- partial "img/discord.svg" . -}}</a
    >
  </div>
</header>
