<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ $options := dict "transpiler" "dartsass" }}
  {{ with resources.Get "scss/style.scss" | toCSS $options | fingerprint }}
    <link
      rel="stylesheet"
      href="{{ .RelPermalink }}"
      integrity="{{ .Data.Integrity }}"
    />
  {{ end }}
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  {{- if .IsTranslated -}}
    {{- range $index, $trans := .AllTranslations -}}
      {{- if eq $index 0 }}
        <link
          rel="alternate"
          hreflang="x-default"
          href="{{ $trans.Permalink }}"
        />
      {{- end }}
      <link
        rel="alternate"
        hreflang="{{ $trans.Language.Lang }}"
        href="{{ $trans.Permalink }}"
      />
    {{- end -}}
  {{- end }}
  {{ $title := print .Site.Title " · " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
