{{ define "content" }}
  <h2 class="box__title">{{ i18n "event" }}: {{ .Title }}</h2>
  <h3>{{ i18n "where" }}</h3>
  <p>{{ .Params.Location }}</p>
  <h3>{{ i18n "when" }}</h3>
  <p>
    <b
      >{{ .Params.Start | time.Format ":date_full" }},
      {{ .Params.Start | time.Format ":time_short" }}</b
    >
    {{ i18n "until" }}
    <b
      >{{ .Params.End | time.Format ":date_full" }},
      {{ .Params.End | time.Format ":time_short" }}</b
    >
  </p>
  <h3>{{ i18n "what" }}</h3>
  {{ .Content }}
{{ end }}
