<!doctype html>
<html lang="{{ site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    {{- block "main" . }}
      <main class="container">
        <div class="box">
          {{- block "content" . }}{{- end }}
        </div>
      </main>
    {{- end }}
    {{- partial "footer.html" . -}}
  </body>
</html>
