{{ define "main" }}
  <div class="hero">
    <img
      class="hero__image"
      src="/img/ini/sofas_crop.webp"
      alt="Foto eines Raumes, im Vordergrund sind zwei Gruppen Sofas aus Euro-Paletten zu sehen, im Hintergrund eine Tribüne mit Arbeitsplätzen sowie eine Fensterfront mit Topfpflanzen."
    />
  </div>
  <main class="boxes boxes-md container">
    {{ range where .Site.RegularPages "Type" "like" `^box` }}
      {{ .Render "homepage" }}
    {{ end }}
  </main>
{{ end }}
